{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}First post explaining site modifications{{end}}
{{define "keywords"}}blog site{{end}}
{{ define "canonical" }}/blog{{end}}

{{define "main"}}
      <h1>Blog</h1>
      <div class="postBackground">
        <article class="postContent">
        <h2>{{.Post.Title}}</h2>
        <p>This is my first post on the new site! I am very excited to have the new system set up and mostly functional. There is still plenty of work to be done, but this is a great start.</p>
        <p>I have moved to Golang for all server side scripting and web serving, and it's been a fun language to learn so far. I have had a lot of encouragement from my friend over at <a href="https://www.angel-castaneda.com" target="_blank" rel="noopener noreferrer">www.angel-castaneda.com</a> so go check out his page to see what he is working on.</p>
        <p>The new site structure should be as follows:</p>
          <ul>
            <li>/ - Home page with featured projects and short about section.</li>
            <li>/projects - Page with all posted industrial and automotive design projects.</li>
            <ul><li>/projects/name - Project with title "name".</li></ul>
            <li>/blog - Page with all blog posts &lpar;content that does not fit under "/projects".&rpar;</li>
            <ul><li>/blog/name - Blog entry with title "name".</li></ul>
            <li>/about - About me and this website</li>
          </ul>
        <p>I am very excited to start posting again! This site refresh has been long overdue. Feel free to send any errors, typos, or strange behavior to my listed email; there are bound to be some problems at first.</p>
        <p>Uploaded: <time datetime="2022-06-15">2022-06-15</time></p>
      </article>
    </div>
{{end}}