{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Update on the new site underlying code.{{end}}
{{define "keywords"}}blog site{{end}}
{{ define "canonical" }}/blog{{end}}

{{define "main"}}
<h1>Blog</h1>
<div class="postBackground">
  <article class="postContent">
    <h2>{{.Post.Title}}</h2>
    <p>So, I got the site to use real, authentic, true to the standard, “text/template” format for my pages and posts. No more strange, non-conforming elements. More readable source code?? We have it. The best?? Probably not… but that’s okay because progress is progress. The last few things to do are program in the tagging system, set up <a href="https://imagemagick.org/" target="_blank" rel="noopener noreferrer">ImageMagick</a> for automatically sizing images, and writing the automation scripts to move everything where it sholud go.</p>
    <p>Getting this all to work has been a great adventure. Going back to programming has been pretty refreshing compared to working on art. A program is either right or wrong. It does what you expect, or it doesn’t. There’s not much interpretation to be had and I miss it.</p>
    <p>Uploaded: <time datetime="2023-07-13">2023-07-13</time></p>
  </article>
</div>
{{end}}
