{{ define "title" }}About{{end}}
{{ define "description" }}About me and my site.{{end}}
{{ define "keywords" }}about{{end}}
{{ define "canonical" }}/about{{end}}

{{ define "main" }}
    <h1>About</h1>
    <section class="postBackground">
      <div class="postContent">
        <img src="/static/media/alex_profile_512.jpg" alt="Highschool senior photo portrait of Alex next to Yerkes Observatory.">
        <p>My name is Alex Scerba, and I am a design student at the College for Creative Studies in Detroit, MI.</p>
        <blockquote>"It's just a machine. Open it up and see what's wrong."</blockquote>
        <p>This phrase is mostly what my life revolves around. Tinkering, making, repairing, and improving the world through these outlets is what I strive to do in my lifetime.</p>
        <p>Contact me at <a href="mailto:alex@alexscerba.com">alex@alexscerba.com</a></p>
      </div>
    </section>
{{ end }}