{{ define "title" }}About{{end}}
{{ define "description" }}About me and my site.{{end}}
{{ define "keywords" }}about{{end}}
{{ define "canonical" }}/about{{end}}

{{ define "main" }}
    <h1>About</h1>
    <section class="postBackground">
      <div class="postContent">
        <h2>Me and This Website</h2>
        <figure>
          <img src="/static/media/alex_profile_512.jpg" alt="Highschool senior photo portrait of Alex next to Yerkes Observatory.">
          <figcaption>Highschool senior photo.</figcaption>
        </figure>
        <p>My name is Alex Scerba, and I am a design student at the College for Creative Studies in Detroit, MI.</p>
        <blockquote>"It's just a machine. Open it up and see what's wrong."</blockquote>
        <p>This phrase is mostly what my life revolves around. Tinkering, making, repairing, and improving the world through these outlets is what I strive to do in my lifetime.</p>
        <p>This site is my anti social media and is where I post about my life and school projects &lpar;when allowed&rpar; and serves as a way to keep up with my appreciation for software programming. The backend is written in <a href="https://go.dev" target="_blank" rel="noopener noreferrer">Go</a> &lpar;source can be found <a href="https://notabug.org/thinkpadmaster/alexscerba.com" target="_blank" rel="noopener noreferrer">at notabug.org</a>&rpar; and uses a templating system to keep hand-editing of pages to a bare minimum.</p>
        <p>I keep my <a href="https://old.alexscerba.com" target="_blank" rel="noopener noreferrer">old site</a> hosted for posterity. The blog page and others are extremely slow to load due to amount of content on the pages and size of images, but it is a fun project to look back on.</p>
        <p>My friend Ángel Castañeda has also been working on a site built in Go at the same time. Check it out at <a href="https://www.angel-castaneda.com" target="_blank" rel="noopener noreferrer">www.angel-castaneda.com</a></p>
        <p>View my <a href="/static/documents/Resume_Scerba_Fall2023.pdf">résumé</a>.</p>
        <p>Contact me at <a href="mailto:alex@alexscerba.com">alex@alexscerba.com</a></p>
      </div>
    </section>
{{ end }}