{{ define "title" }}About{{end}}
{{ define "description" }}About me and my site.{{end}}
{{ define "keywords" }}about{{end}}
{{ define "canonical" }}/about{{end}}

{{ define "main" }}
    <h1>About</h1>
    <section class="postBackground">
      <div class="postContent">
        <img src="/static/media/alex_profile_512.jpg" alt="Highschool senior photo portrait of Alex next to Yerkes Observatory." style="margin-bottom: 3rem"/>
        <p>My name is Alex Scerba, a Junior in the College for Creative Studies: Transportation Design program in Detroit, MI.</p>
        <p>Growing up in Lake Geneva, WI, I developed a passion for making and tinkering, which lead me down the path of industrial design. I love working with my hands, fixing up and riding motorcycles and cars, and learning new skills.</p>
        <p>In addition to sketching, rendering, and modeling, my hobby skills include programming (<a href="https://github.com/ascerba/alexscerba.com" target="_blank" rel="noopener noreferrer">this website</a>), bookbinding, and woodworking.</p>
        <blockquote>"It's just a machine. Open it up and see what's wrong."</blockquote>
        <p>Connect with me on LinkedIn: <a href="https://linkedin.com/in/ascerba" target="_blank" rel="noopener noreferrer">linkedin.com/in/ascerba</a></p>
        <p>Contact me at <a href="mailto:alex@alexscerba.com">alex@alexscerba.com</a></p>
        <p>View my <a href="/static/documents/Resume_Scerba_Fall2023.pdf">résumé</a>
      </div>
    </section>
{{ end }}