{{ define "title" }}Blog{{end}}
{{ define "description" }}Site blog featuring personal and project updates as well as anything random I want to share.{{end}}
{{ define "keywords" }}blog{{end}}
{{ define "canonical" }}/blog{{end}}

{{ define "main" }}
    <h1>Blog</h1>

    <section class="postBackground">
      <div class="postContent">
        <h2>Entries</h2>
{{ range .Posts.Contents}}
        <p>- <a href="/blog/{{ .FileName }}">{{ .Title }}</a></p>
{{ end }}
      </div>
    </section>
{{ end }}