{{ define "title" }}Home{{end}}
{{ define "description" }}Homepage{{end}}
{{ define "keywords" }}home{{end}}

{{ define "main" }}
    <h1 style="animation: 1s ease-out 0s 1 fadeIn">alexscerba.com</h1>
    <div class="frontpage-subtitle" style="animation: 1s ease-out 0s 1 fadeIn">
      <div class="subtitle-text">
        <p>My place to:</p>
        <p><strong>showcase design projects.<br>post life updates.<br>bulid web-development skills.</strong></p>
      </div>
    </div>
    <section class="bottom">
      <h2>Latest Design Projects</h2>
      <div class="posts">
{{ range .Posts.Contents }}
        <figure class="thumbnail">
          <a href="/projects/{{ .FileName }}">
            {{ .Image }}
            <figcaption>{{ .Title }}</figcaption>
          </a>
        </figure>
{{ end }}
      </div>
    </section>
{{ end }}