{{ define "title" }}Home{{end}}
{{ define "description" }}Homepage{{end}}
{{ define "keywords" }}home{{end}}

{{ define "main" }}
      <h1>Design Projects</h1>
      <div class="uneven-column">
        <div class="side-info">
          <img src="/static/media/alex_profile_512.jpg" alt="Highschool senior photo portrait of Alex next to Yerkes Observatory." style="margin-bottom: 2.5rem;" width="511" height="512"/>
          <div style="grid-column-start: 1;">
            <p>My name is Alex Scerba, a Junior in the College for Creative Studies: Transportation Design program in Detroit, MI.</p>
            <p>Growing up in Lake Geneva, WI, I developed a passion for making and tinkering, which lead me down the path of industrial design. I love working with my hands, fixing up and riding motorcycles and cars, and learning new skills.</p>
            <p>In addition to sketching, rendering, and modeling, my hobby skills include programming (<a href="https://github.com/ascerba/personal-website" target="_blank" rel="noopener noreferrer">this website</a>), bookbinding, and woodworking.</p>
            <p>This summer, I hope to secure an internship to learn more skills in the design and manufacturing industry.</p>
            <p>Connect with me on LinkedIn: <br><a href="https://linkedin.com/in/ascerba" target="_blank" rel="noopener noreferrer"><b>linkedin.com/in/ascerba</b></a></p>
            <p>Email <a href="mailto:me@alexscerba.com"><b>me@alexscerba.com</b></a></p>
            <p>View my <a href="/static/Resume_Scerba.pdf"><b>résumé</b></a>
          </div>
        </div>
        <div class="projects even-2-col-grid">
{{ range .Posts.Contents }}
          <a href="/projects/{{ .FileName }}" class="thumbnail">
            {{ .Image }}
            <span class="title">{{ .Title }}</span>
          </a>
{{ end }}
        </div>
      </div>
{{ end }}