{{ define "title" }}Home{{end}}
{{ define "description" }}Homepage{{end}}
{{ define "keywords" }}home{{end}}

{{ define "main" }}
      <h1>Design Projects</h1>
      <div class="uneven-column">
        <div class="side-info">
          <!--Contact, Skills, Courses-->
          <h2>Contact</h2>
          <p><b>Email:</b> me@alexscerba.com</p>
          <p><b>Cell:</b> +1 (262) 348-6968</p>
          <p><b>In:</b> linkedin.com/in/ascerba</p>
          <h2>Skills</h2>
          <h3>Software</h3>
          <ul>
            <li>Autodesk Alias</li>
            <li>Solidworks</li>
            <li>Adobe</li>
            <ul>
              <li>Photoshop</li>
              <li>Illustrator</li>
              <li>InDesign</li>
            </ul>
            <li>HTML/CSS</li>
          </ul>
          <h3>Physical</h3>
          <ul>
            <li>Sketching/Rendering</li>
            <li>Clay sculpting</li>
            <li>Ideation mock ups</li>
            <li>Woodworking</li>
            <li>Soldering</li>
          </ul>
          <h3>Personal</h3>
          <ul>
            <li>Adaptive</li>
            <li>Active listener</li>
            <li>Team oriented</li>
            <li>Continual learner</li>
          </ul>
          <h2>Relevant Courses</h2>
          <ul>
            <li>Visual Communication I - V</li>
            <li>Digital Modeling I - IV &lpar;Alias. 1 year Sub-D&rpar;</li>
          </ul>
        </div>
        <div>
          <!--Education, Projects, Experience-->
          <h2>Education</h2>
          <p><b>College for Creative Studies</b> | Detroit, MI | Transportation Design, BFA
          <br>May 2025 Expected Graduation</p>
          <p><b>Milwaukee School of Engineering</b> | Milwaukee, WI | 32 Credits Computer Science, BS
          <br>Sept 2020 - May 2021</p>
          <p><b>Gateway Community College</b> | Elkhorn, WI | CNC Operator Certificate
          <br>Sept 2019 - May 2020</p>
          <h2>Projects</h2>
          <div class="even-2-col-grid" style="gap: 1rem;">
            <div>
              <p>
                <b>RAM Central America</b> | CCS X <b>Stellantis</b>
                <br>Fall 2023 | Detroit, MI
              </p>
              <p>The future of RAM small trucks in Central America in the year 2050. 1/4 scale clay interior model.</p>
            </div>
            <div>
              <p>
                <b>Chevrolet Vision SS</b> | CCS
                <br>Spring 2023 | Detroit, MI
              </p>
              <p>Envisioned the future of B-segment Chevrolet sports car exteriors in 2035. 1/5 scale clay exterior model.</p>
            </div>
            <div>
              <p>
                <b>MCTS PTC</b> | CCS
                <br>Spring 2023 | Detroit, MI
              </p>
              <p>Four seat mobility "Personal Transit Concept" for the Milwaukee area in 2050.</p>
            </div>
            <div>
              <p>
                <b>Honda ND-1</b> | CCS
                <br>Fall 2022 | Detroit, MI
              </p>
              <p>B-segment Honda commuter. Alias interior model.</p>
            </div>
            <div>
              <p>
                <b>UI/UX Workshop</b> | IDATA
                <br>Jul 2018 | Williams Bay, WI
              </p>
              <p>Designed UI changes to Afterglow Access, an astrophotometry software, with input from BVI focus groups.</p>
            </div>
            <div>
              <p>
                <b>Self-Hosted Personal Website</b>
                <br>Ongoing | Williams Bay, WI
              </p>
              <p>Written in GO, hosted on home server. Portfolio site.</p>
            </div>
          </div>
          <h2>Experience</h2>
          <div>
            <p>
              <b>CCS Wood Shop</b> | Shop Technician | Jan 2022 - Present | Detroit, MI
            </p>
            <p>Use knowledge of woodworking tools and processes to assist students and maintain shop functions.</p>
          </div>
          <div>
            <p>
              <b>GLAS Education</b> | LENSS Intern | Jun 2022 - Aug 2022 | Walworth, WI
            </p>
            <p><b>Internship:</b> Designed and produced enclosures and internal assemblies for light pollution sensors. Worked with a team to develop the software and infrastructure needed needed for operation.</p>
          </div>
          <div>
            <p>
              <b>Cathodic Protection Management</b> | Corrosion Technician | Jun 2020 - Aug 2021 | Burlington, WI
            </p>
            <p>Collected and measured voltage data in the field and input findings into database.</p>
          </div>
          <div>
            <p>
              <b>GLAS Education</b> | Office Technician | Jun 2020 - Aug 2020 | Williams Bay, WI
            </p>
            <p><b>Internship:</b> Worked with staff to maintain network equipment and printers. Performed computer component repair and replacement when necessary.</p>
          </div>
          <div>
            <p>
              <b>Best Buy</b> | Computer Sales Consultant | Sep 2018 - Sep 2020 | Lake Geneva, WI
            </p>
            <p>Made computer and technology recommendations to customers based on their needs and experience. Point-of-sale used for purchases and inventory checks.</p>
          </div>
        </div>
      </div>
{{ end }}