{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}My entry portfolio for the College for Creative Studies.{{end}}
{{define "keywords"}}project CCS{{end}}
{{ define "canonical" }}/projects{{end}}

{{define "main"}}
    <h1>Project</h1>
    <div class="postBackground">
      <article class="projectContent">
        <h2>{{.Post.Title}}</h2>
        <p>My entrance portfolio for the College of Creative Studies.</p>
        <div class="imgGrid">
          <img src="/static/media/Sketch Portfolio early 2021/Arai_Helmet_720p.jpg" alt="Arai helmet sketch." />
          <img src="/static/media/Sketch Portfolio early 2021/Bernie_720p.jpg" alt="Cat, Bernie, sketch." />
          <img src="/static/media/Sketch Portfolio early 2021/Peacock_Portrait2_Zoom_720p.jpg" alt="Zoomed peacock sketch with feathers out." />
          <img src="/static/media/Sketch Portfolio early 2021/Flamingo_720p.jpg" alt="Flamingo standing on one leg sketch." />
          <img src="/static/media/Sketch Portfolio early 2021/Harley_Sportbike_Concept_720p.jpg" alt="Harley Davidson concept sportbike sketch." />
          <img src="/static/media/Sketch Portfolio early 2021/SL350_Bobber_720p.jpg" class="mainImage" alt="Side view Honda SL350 bobber sketch." />
          <img src="/static/media/Sketch Portfolio early 2021/Peacock_Portrait_720p.jpg" alt="Peakcock sketch with feathers tucked." />
          <img src="/static/media/Sketch Portfolio early 2021/Dorm_Setup_720p.jpg" alt="Sketch of my dorm setup at the Milwaukee School of Engineering." />
        </div>
      </article>
    </div>
{{end}}