@font-face {
    font-family: 'DejaVu Sans';
    src: url('/static/fonts/dejavu-sans-fontfacekit/web fonts/dejavusans_regular_macroman/DejaVuSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('/static/fonts/dejavu-sans-fontfacekit/web fonts/dejavusans_bold_macroman/DejaVuSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('/static/fonts/dejavu-sans-fontfacekit/web fonts/dejavusans_oblique_macroman/DejaVuSans-Oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('/static/fonts/dejavu-sans-fontfacekit/web fonts/dejavusans_boldoblique_macroman/DejaVuSans-BoldOblique-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('/static/fonts/dejavu-sans-fontfacekit/web fonts/dejavusans_extralight_macroman/DejaVuSans-ExtraLight-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'DejaVu Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding: 1rem;
    padding-top: 9.25rem;
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
}

.logo-w-name {
    display: flex;
}

.logo {
    padding: .75rem;
    height: 6.25rem;
}

.name {
    font-size: 3rem;
    margin: auto 1rem;
}

.main-nav-position {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    padding-right: 2rem;
    border-right: .5rem solid rgb(196, 196, 196);
}

.main-nav {
    display: flex;
    gap: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.toggler, .hamburger {
    display: none;
}

.even-2-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

img {
    max-width: 100%;
}

.thumbnail img {
    width: fit-content;
    aspect-ratio: 16/9;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}

.footer-logo {
    filter: invert(100%);
    width: 2.75rem;
    margin-left: .75rem;
}

footer {
    display: flex;
    background-color: black;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}

address {
    padding-left: 1rem;
    display: flex;
    gap: 2rem;
}

footer * {
    color: white;
}

@media screen and (max-width: 45rem) {
    nav {
      display: none;
    }

    header {
        width: 100%;
    }

    .even-2-col-grid {
        grid-template-columns: 1fr;
    }

    .toggler{
    /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
      visibility: visible;
      display: block;
      z-index: 4;
      height: 60px;
      width: 60px;
      position: fixed;
      top: 2.5rem;
      right: 1rem;
      cursor: pointer;
      opacity: 0;
      margin: 0;
    }
    
    .hamburger{
      z-index: 3;
      position: fixed;
      top: 2.5rem;
      right: 1rem;
      height: 60px;
      width: 60px;
      padding: 5px;
      /*border-bottom-left-radius: 8px;
      background-color: var(--dark-transparent);*/
    
    /* FOR DISPLAYING EVERY ELEMENT IN THE CENTER : */
    
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /* CREATING THE MIDDLE LINE OF THE HAMBURGER : */
    
    .hamburger > div{
      position: relative;
      top: 0;
      right: 0;
      background: black;
      height: 2px;
      width: 60%;
      transition: all  0.4s ease;
    }
    
    /* CREATING THE TOP AND BOTTOM LINES : 
    TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */
    
    .hamburger > div::before,
    .hamburger > div::after{
      content: '';
      position: absolute;
      top: -10px;
      background: black;
      width: 100%;
      height: 2px;
      transition: all  0.4s ease;
    }
    
    .hamburger > div::after{
      top: 10px;
    }
    
    /* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */
    
    .toggler:checked + .hamburger > div{
      background: rgba(0,0,0,0); /*Not bothering with var because one-off*/
    }
    
    .toggler:checked + .hamburger > div::before{
      top: 0;
      transform: rotate(-45deg);
    }
    
    /* AND ROTATING THE TOP AND BOTTOM LINES :  */
    
    .toggler:checked + .hamburger > div::after{
      top: 0;
      transform: rotate(45deg);
    }
  
    /* MAIN MENU WITH THE WHITE BACKGROUND AND THE TEXT :  */
  
    .main-nav {
  
    /* APPLYING TRANSITION TO THE MENU :  */
  
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
      background-color: white;
      padding: 8rem 1rem 1rem 1rem;
  
    /* HIDDEN INITIALLY  :  */
  
      visibility: hidden;
    }
  
    .main-nav > a {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 34px;
    }
  
    /* IF THE TOGGLER IS CHECKED, THEN INCREASE THE WIDTH OF THE MENU TO 30% , CREATING A SMOOTH EFFECT :  */
  
    .toggler:checked ~ .main-nav{
      visibility: visible;
      animation: fadeIn 0.8s ease;
    }
    .toggler:checked ~ .bg-nav-block {
      visibility: visible;
      animation: fadeIn 0.8s ease;
    }
    .toggler:checked ~ .hamburger {
      background-color: #00000000;
    }
  }