{{ define "meta" }}
    <title>About</title>
    <meta name="description" content="About me, Alex Scerba">
{{ end }}
{{ define "main" }}
    <h1>alexscerba.com/about</h1>
    <section class="postContent">
    <p>My name is Alex Scerba, and I am a design student at the College for Creative Studies in Detroit, MI.</p>
    <blockquote>"It's just a machine. Open it up and see what's wrong."</blockquote>
    <p>This phrase is mostly what my life revolves around. Tinkering, making, repairing, and improving the world through these outlets is what I strive to do in my lifetime.</p>
    <p>This site is my anti social media and is where I post about my life and school projects &lpar;when allowed&rpar; and serves as a way to keep up with my appreciation for software programming. The backend is written in <a href="https://go.dev" target="_blank" rel="noopener noreferrer">Go</a> &lpar;source can be found <a href="https://notabug.org/thinkpadmaster/alexscerba.com" target="_blank" rel="noopener noreferrer">at notabug.org</a>&rpar; and uses a templating system to keep hand-editing of pages to a bare minimum.</p>
    <p>For posterity, I keep my <a href="http://alexscerba.com:8080" target="_blank" rel="noopener noreferrer">old site</a> deployed. The blog page is extremely slow to load along with a couple others due to amount of content on the pages and size of images, but it is a fun project to look back on.</p>
    </section>
{{ end }}