{{define "title"}}{{range .Contents}}{{ .Title }}{{end}}{{end}}
{{define "description"}}My entry portfolio for the College for Creative Studies.{{end}}
{{define "keywords"}}project CCS{{end}}
    
{{define "main"}}
    <h1>Project</h1>
    <article class="postContent">
      <h2>{{range .Contents}}{{ .Title }}{{end}}</h2>
      <div class="imgGrid">
        <img src="/static/media/Sketch Portfolio early 2021/Arai_Helmet_720p.jpg" alt="Arai helmet sketch.">
        <img src="/static/media/Sketch Portfolio early 2021/Bernie_720p.jpg" alt="Cat, Bernie, sketch.">
        <img src="/static/media/Sketch Portfolio early 2021/Peacock_Portrait2_Zoom_720p.jpg" alt="Zoomed peacock sketch with feathers out.">
        <img src="/static/media/Sketch Portfolio early 2021/Flamingo_720p.jpg" alt="Flamingo standing on one leg sketch.">
        <img src="/static/media/Sketch Portfolio early 2021/Harley_Sportbike_Concept_720p.jpg" alt="Harley Davidson concept sportbike sketch.">
        <img class="mainImage" src="/static/media/Sketch Portfolio early 2021/SL350_Bobber_720p.jpg" alt="Side view Honda SL350 bobber sketch.">
        <img src="/static/media/Sketch Portfolio early 2021/Peacock_Portrait_720p.jpg" alt="Peakcock sketch with feathers tucked.">
        <img src="/static/media/Sketch Portfolio early 2021/Dorm_Setup_720p.jpg" alt="Sketch of my dorm setup at the Milwaukee School of Engineering.">
      </div>
      <p>Uploaded: <time datetime="2022-06-15">2022-06-15</time></p>
    </article>
{{end}}