{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Chevrolet design project set in 2035. Purpose-built EV sports car.{{end}}
{{define "uploaded-on"}}2023-05-25{{end}}
{{define "keywords"}}project exterior Chevrolet CCS sports-car{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p>The 2035 Chevrolet Vision SS project is aimed at designing a purpose-built sports car for the EV future.</p>
    <p><b>Final Deliverable:</b> 1/5th scale clay model.</p>
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_1.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_2.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_3.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_4.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_5.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_6.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_7.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_1.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_2.jpg" class="mainImage" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_3.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_9.jpg" />
  </article>
</div>
{{end}}
