{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Chevrolet design project set in 2035. Purpose-built EV sports car.{{end}}
{{define "uploaded-on"}}2023-12-25{{end}}
{{define "keywords"}}project exterior Chevrolet CCS sports-car{{end}}
{{define "thumbnail"}}<img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_2.jpg" class="mainImage" />{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p>The 2035 Chevrolet Vision SS project is aimed at designing a purpose-built sports car for the EV future.</p>
    <p><b>Final Deliverable:</b> 1/5th scale clay model.</p>
    <img src="/static/media/Chevrolet_Vision_SS/vision1.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision2.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision3.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision4.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision5.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision6.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision7.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision8.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision9.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision10.png" width="2000" height="1000" />
    <img src="/static/media/Chevrolet_Vision_SS/vision11.png" width="2000" height="1000" />
  </article>
</div>
{{end}}
