{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Chevrolet design project set in 2035. Purpose-built EV sports car.{{end}}
{{define "keywords"}}project exterior Chevrolet CCS sports-car{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Projects</h1>
<div class="postBackground">
  <article class="postContent">
    <h2>{{.Post.Title}}</h2>
    <p>The 2035 Chevrolet Vision SS project is aimed at designing a purpose-built sports car for the EV future.</p>
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_1.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_2.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_3.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_4.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_1.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_2.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_Render_3.jpg" />
    <img src="/static/media/Chevrolet_Vision_SS/VisionSS_6.jpg" />
    <p>Uploaded: <time datetime="2023-11-05">2023-11-05</time></p>
  </article>
</div>
{{end}}
