{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}My entry portfolio for the College for Creative Studies.{{end}}
{{define "keywords"}}project CCS{{end}}
{{ define "canonical" }}/projects{{end}}

{{define "main"}}
    <h1>Project</h1>
    <div class="postBackground">
      <article class="projectContent">
        <h2>{{.Post.Title}}</h2>
        <p>Honda S-30 project at CCS.</p>
        <p><b>Final Deliverable:</b> Full-scale Autodesk Alias model rendered in VRED.</p>
        <img src="/static/media/DTR-232-D-Final_Board-Scerba_1.5k.jpg" class="mainImage" alt="Sophomore interior studio project HONDA S-30." />
      </article>
    </div>
{{end}}