{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Husqvarna Val CCS unsponsored project.{{end}}
{{define "uploaded-on"}}2024-05-08{{end}}
{{define "keywords"}}project CCS{{end}}
{{define "thumbnail"}}<img src="/static/media/Husqvarna_Val/Bar_Shot.jpg" class="mainImage" alt="Husqvarna Val UI." />{{end}}
{{ define "canonical" }}/projects{{end}}

{{define "main"}}
    <h1>Project</h1>
    <div class="postBackground">
      <article class="projectContent">
        <h2>{{.Post.Title}}</h2>
        <p>Husqvarna Val powersports project. Extend electric range through the sidecar for longer and more remote adventures.</p>
        <p><b>Final Deliverable:</b> Digital model and animation.</p>
        <img src="/static/media/Husqvarna_Val/val1.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val2.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val3.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val4.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val5.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val6.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val7.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val8.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val9.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val10.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val11.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val12.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val13.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val14.jpg" width="2000" height="1000" />
        <img src="/static/media/Husqvarna_Val/val15.jpg" width="2000" height="1000" />
        <iframe width="1920" src="https://www.youtube.com/embed/RXhwG4fjCKw?si=Bj5jhNxfdjiXy_Ch" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </article>
    </div>
{{end}}