{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Husqvarna Val CCS unsponsored project.{{end}}
{{define "uploaded-on"}}2024-05-08{{end}}
{{define "keywords"}}project CCS{{end}}
{{ define "canonical" }}/projects{{end}}

{{define "main"}}
    <h1>Project</h1>
    <div class="postBackground">
      <article class="projectContent">
        <h2>{{.Post.Title}}</h2>
        <p>Husqvarna Val powersports project. Extend electric range through the sidecar for longer and more remote adventures.</p>
        <p><b>Final Deliverable:</b> Digital model and animation.</p>
        <div class="hide">
        <img src="/static/media/Husqvarna_Val/Bar_Shot.jpg" class="mainImage" alt="Husqvarna Val UI." />
        </div>
        <img src="/static/media/Husqvarna_Val/HUSQVARNA_Scerba_3k_rev2.jpg" alt="Husqvarna Val sidecar motorcycle project." />
        <video src="/static/media/Husqvarna_Val/Val_Animation.mp4" alt="Husqvarna Val animation." controls="" width="1920" height="1080"><a href="/static/media/Husqvarna_Val/Val_Animation.mp4">CJ7 Signal Test</a></video>
      </article>
    </div>
{{end}}