{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Mobility project centered around Milwaukee, WI.{{end}}
{{define "keywords"}}project Milwaukee CCS mobility{{end}}
{{ define "canonical" }}/projects{{end}}

{{define "main"}}
    <h1>Project</h1>
    <div class="postBackground">
      <article class="projectContent">
        <h2>{{.Post.Title}}</h2>
        <p>Design Theory II: Mobility project at CCS focused on Milwaukee in 2050.</p>
        <p><b>Final Deliverable:</b> Photoshop renderings.</p>
        <img src="/static/media/DT2Mobility/Intro.jpg" />
        <img src="/static/media/DT2Mobility/City Stats.jpg" />
        <img src="/static/media/DT2Mobility/SWOT.jpg" />
        <img src="/static/media/DT2Mobility/Andy - Info.jpg" />
        <img src="/static/media/DT2Mobility/Andy - Mood.jpg" />
        <img src="/static/media/DT2Mobility/Andy - Form.jpg" />
        <img src="/static/media/DT2Mobility/Gertrude - Info.jpg" />
        <img src="/static/media/DT2Mobility/Gertrude - Mood.jpg" />
        <img src="/static/media/DT2Mobility/Gertrude - Form.jpg" />
        <img src="/static/media/DT2Mobility/Angel - Info.jpg" />
        <img src="/static/media/DT2Mobility/Angel - Mood.jpg" />
        <img src="/static/media/DT2Mobility/Angel - Form.jpg" />
        <img src="/static/media/DT2Mobility/Vehicle Propositions.jpg" />
        <img src="/static/media/DT2Mobility/Storyboard.jpg" />
        <img src="/static/media/DT2Mobility/Initial Ideation.jpg" />
        <img src="/static/media/DT2Mobility/Final Theme.jpg" />
        <img src="/static/media/DT2Mobility/Interior.jpg" />
        <img src="/static/media/DT2Mobility/Front34.jpg" class="mainImage" />
        <img src="/static/media/DT2Mobility/Side.jpg" />
        <img src="/static/media/DT2Mobility/Rear34.jpg" />
        <img src="/static/media/DT2Mobility/Package.jpg" />
        <img src="/static/media/DT2Mobility/Building Infrastructure.jpg" />
        <img src="/static/media/DT2Mobility/Initial Infrastructure Sketches.jpg" />
        <img src="/static/media/DT2Mobility/Lane Allocation.png">
      </article>
    </div>
{{end}}