{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Digital modeling portfolio.{{end}}
{{define "uploaded-on"}}2023-12-31{{end}}
{{define "keywords"}}project digital modeling autodesk alias blender CCS{{end}}
{{define "thumbnail"}}<img src="/static/media/Modeling/alias-thumbnail.jpg" class="mainImage" />{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p>Digital modeling works focusing on Autodes Alias and Blender hybrid models.</p>
    <img src="/static/media/Modeling/modeling1.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling2.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling3.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling4.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling5.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling6.jpg" width="2000" height="1000" />
    <img src="/static/media/Modeling/modeling7.jpg" width="2000" height="1000" />
  </article>
</div>
{{end}}
