{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Sponsored Stellantis studio project. Ram trucks 2050.{{end}}
{{define "uploaded-on"}}2023-12-31{{end}}
{{define "keywords"}}project interior Stellantis Ram CCS truck{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p><b>Team project:</b> Alex Scerba - Automotive Interior, James Shiels - Automotive Exterior, Maria Nagaitis - Spatial Interior</p>
    <p>Design a Ram product for the Central America region in the year 2050.</p>
    <p><b>Final Deliverable:</b> 1/4th scale painted clay model.</p>
    <div class="hide">
      <img src="/static/media/Ram_Central_America/IP_CROP_1800x900.jpg" class="mainImage" />
    </div>
    <p><b>Final Model</b></p>
    <img src="/static/media/Ram_Central_America/RAM_Scerba_2K.jpg" alt="RAM Central America interior concept."/>
    <img src="/static/media/Ram_Central_America/RAM12.jpg" alt="Clay model shots 1." />
    <img src="/static/media/Ram_Central_America/RAM13.jpg" alt="Clay model shots 2." />
  </article>
</div>
{{end}}
