{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Sponsored Stellantis studio project. Ram trucks 2050.{{end}}
{{define "keywords"}}project interior Stellantis Ram CCS truck{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p>Brief: Design a Ram product for the Central America region in the year 2050.</p>
    <p><b>Final Deliverable:</b> 1/4th scale painted clay model. | <b>Team project:</b> Alex Scerba - Automotive Interior, James Shiels - Automotive Exterior, Maria Nagaitis - Spatial Interior</p>
    <img src="/static/media/Ram_Central_America/RAM.jpg" />
    <img src="/static/media/Ram_Central_America/RAM2.jpg" />
    <img src="/static/media/Ram_Central_America/RAM3.jpg" />
    <img src="/static/media/Ram_Central_America/RAM4.jpg" />
    <img src="/static/media/Ram_Central_America/RAM5.jpg" />
    <img src="/static/media/Ram_Central_America/RAM6.jpg" />
    <img src="/static/media/Ram_Central_America/RAM7.jpg" class="mainImage" />
    <img src="/static/media/Ram_Central_America/RAM8.jpg" />
    <img src="/static/media/Ram_Central_America/RAM9.jpg" />
    <img src="/static/media/Ram_Central_America/RAM10.jpg" />
    <img src="/static/media/Ram_Central_America/RAM11.jpg" />
    <img src="/static/media/Ram_Central_America/RAM12.jpg" />
  </article>
</div>
{{end}}
