{{define "title"}}{{.Post.Title}}{{end}}
{{define "description"}}Personal design sketchbook.{{end}}
{{define "uploaded-on"}}2023-11-04{{end}}
{{define "keywords"}}project sketchbook CCS design{{end}}
{{define "thumbnail"}}<img src="/static/media/Sketchbook/Side_Suzuki.jpg" class="mainImage" />{{end}}
{{ define "canonical" }}{{end}}

{{define "main"}}
<h1>Project</h1>
<div class="postBackground">
  <article class="projectContent">
    <h2>{{.Post.Title}}</h2>
    <p>Various motorcycle sketches from my off-time.</p>
    <!-- <img src="/static/media/Sketchbook/Sketchbook_Cover.jpg" /> -->
    <img src="/static/media/Sketchbook/Cycle6.jpg" />
    <img src="/static/media/Sketchbook/Cycle7.jpg" />
    <img src="/static/media/Sketchbook/Side_Suzuki.jpg" class="mainImage" />
    <img src="/static/media/Sketchbook/Front_Suzuki.jpg" />
    <img src="/static/media/Sketchbook/Cycle1.jpg" />
    <img src="/static/media/Sketchbook/Cycle2.jpg" />
    <img src="/static/media/Sketchbook/Cycle3.jpg" />
    <img src="/static/media/Sketchbook/Cycle4.jpg" />
    <img src="/static/media/Sketchbook/Cycle5.jpg" />
  </article>
</div>
{{end}}
